body{
    background-color: #1c1c1c;
    color: white;
}

.navbar {
    contain: content;
    background-color: #001d3d;
    padding: 10px;
    margin: 0px -8px;
    margin-top: -8px;
}

#profile-icon{
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: white;
    margin: 10px;
    padding: 10px;

}

.display-none{
    display: none;
}

.profile-dash{
    height: fit-content;
    box-shadow: 0 0 0 1px rgb(161, 161, 161);
    margin-top: -15px; 
    float: right;
    margin-right: 96px;
    contain: content;
    background-color: white;
    border-radius: 5px;
}

#profile-dash-usercred{
    font-family: "Didact Gothic";
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-left: 10px;
    display: inline;
}

#profile-dash-usercred-mobile{
    display: none;
}

.profile-buttons-text{
    font-size: 25px;
    font-family: 'Didact Gothic';
    cursor: pointer;
    margin-left: 20px;
}


#logout-button-text{
    margin-left: 28px;
    display: inline;
}

#logout {
    cursor: pointer;
    font-size: 25px;
    background-color: white;
    color: #001d3d;
    margin: 10px;
}

#about {
    float: right;
    cursor: pointer;
    font-size: 30px;
    background-color: #001d3d;
    color: white;
    margin: 10px;
    padding: 10px;
}

#home {
    cursor: pointer;
    font-size: 35px;
    float: left;
    border: none;
    background-color: #001d3d;
    font-family: 'Pacifico';
    color: white;
    margin: 5px 5px;
}


h1 {
    font-family: 'Didact Gothic';
    color: white;
    font-size: 40px;
    font-weight: 400;
    width: fit-content;
}

h2 {
    font-family: 'Didact Gothic';
    text-shadow: 3px 3px rgb(152, 152, 152);
    color: white;
    font-size: 40px;
    text-align: center;
    font-size: 30px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.label {
    font-size: 20px;
    font-family: 'Didact Gothic';
}

input {
    padding: 10px 0px;
    border-radius: 5px;
    border: none;
    width: 300px;
    margin: 10px 0px;
    font-size: 20px;
    font-family: 'Didact Gothic';
}

.order-summary {
    width: fit-content;
    height: fit-content;
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    padding: 40px;
    margin: 30px;
}

.order-list {
    margin: 40px 0px;
}

h3 {
    display: inline;
    margin: 10px 76px;
    font-family: 'Didact Gothic';
    font-weight: 400;
    font-size: 20px;
    color: white;
}

td {
    padding: 5px 20px;
    font-family: 'Didact Gothic';
    font-size: 20px;
}

.total {
    font-family: 'Didact Gothic';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 30px;
}

#header-name {
    align-items: center;
    justify-content: left;
    margin-left: 150px;
    
}

#header-price{
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

#header-quantity{
    align-items: center;
    justify-content: right;
}

.item-name {
    display: flex;
    align-items: center;
    justify-content: left;
}

.item-price {
    display: flex;
    margin-top: -38px;
    align-items: center;
    justify-content: center;

}

.item-cart {
    display: flex;
    margin-right: 110px;
    margin-top: -38px;
    align-items: center;
    justify-content: right;

}

.close-btn {
    display: flex;
    margin-left: 600px;
    margin-top: -40px;
    cursor: pointer;

}

table {
    display: inline-block;
}

#confirmBtn {
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Didact Gothic';
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(70, 70, 70);
    color: white;
}

#address-area {
    max-width: 300px;
}


/*------------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 980px) {
    #home {
        font-size: 50px;
        margin: 20px 10px;
    }

    #logout {
        font-size: 50px;
        padding: 20px;
        margin: 20px 5px;
    }

    #profile-icon{
        font-size: 50px;
        padding: 20px;
        margin: 20px 5px;
    }

    #profile-dash-usercred{
        display: none;
    }

    #profile-dash-usercred-mobile{
        display: block;
        margin: 0;
        font-family: "Didact Gothic";
        font-size: 40px;
        font-weight: 700;
        color: #001d3d;
    }

    .profile-buttons-text{
        font-size: 40px;
    }

    #about {
        font-size: 50px;
        padding: 20px;
        margin: 20px 5px;
    }

    h1 {
        font-size: 55px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 80px;
        z-index: -1;
    }
    .order-summary{
        margin-top: 250px;
    }

    h3 {
        font-size: 30px;
    }

    .total {
        font-size: 30px;
    }

    td {
        font-size: 30px;
    }

    #header-name{
        margin-left: 120px;
    }

    #header-price{
        margin-left: 75px;
    }

    .item-name{
        margin: 20px 5px;
    }

    .item-price {
        margin-top: -60px;
    }

    .item-cart {
        margin-top: -51px;
    }

    #confirmBtn {
        font-size: 30px;
    }
}