body{
    background-color: #1c1c1c;
    color: white;
}
.navbar {
    contain: content;
    background-color: #001d3d;
    padding: 10px;
    margin: 0px -8px;
    margin-top: -8px;
}

#profile-icon{
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: white;
    margin: 10px;
    padding: 10px;
}

.display-none{
    display: none;
}

.profile-dash{
    height: fit-content;
    box-shadow: 0 0 0 1px rgb(161, 161, 161);
    margin-top: -15px; 
    float: right;
    margin-right: 99.5px;
    contain: content;
    background-color: white;
    border-radius: 5px;
}

#profile-dash-usercred{
    font-family: "Didact Gothic";
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-left: 10px;
}

.profile-buttons-text{
    font-size: 25px;
    font-family: 'Didact Gothic';
    cursor: pointer;
    margin-left: 20px;
}


#logout-button-text{
    margin-left: 28px;
}

#about {
    float: right;
    cursor: pointer;
    font-size: 30px;
    background-color: #001d3d;
    color: white;
    margin: 10px;
    padding: 10px;
}

#home {
    cursor: pointer;
    font-size: 35px;
    float: left;
    border: none;
    background-color: #001d3d;
    font-family: 'Pacifico';
    color: white;
    margin: 5px 5px;
}

#cart {
    font-size: 25px;
    border: none;
    background-color: white;
    cursor: pointer;
    color: #001d3d;
    margin: 10px;
}

#logout {
    cursor: pointer;
    font-size: 25px;
    background-color: white;
    color: #001d3d;
    padding: 1px 13.5px;
    margin: 10px;
}

.category-list{
    margin-top: 200px;
    margin-bottom: -100px;
}

.category{
    font-family: 'Didact Gothic';
    font-size: 20px;
    display: inline-flex;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(42, 42, 42);
    transition: 0.5s;
}
.category:hover{
    background-color: rgb(70, 70, 70);
    transition: 0.5s;
}

.menu-items{
    margin: 150px 0px;
    margin-top: 20px;
}

.menu {
    height: 350px;
    width: 350px;
    border: none;
    border-radius: 20px;
}

.menu img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 25px;
}

.card {
    height: 460px;
    width: 400px;
    border: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 20px;
    transition: 0.5s;
    margin: 10px;
    contain: content;
}

.card:hover {
    background-color: rgb(70, 70, 70);
    transition: 0.5s;
    height: 540px;
}

.buy-now {
    padding: 10px 8px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(153, 255, 0);
    box-shadow: 0 0 1px rgb(0, 255, 0);
    color: black;
    border: none;
    float: right;
    margin: 15px 0px;
    font-family: 'Saira Condensed';
    transition: 0.5s;
}

.buy-now:hover {
    cursor: pointer;
    transition: 0.5s;
}

.buy-now:active {
    background-color: green;
}

.menu-text {
    width: 196px;
    margin: 15px 0px;
    float: left;
    text-align: left;
    font-family: 'Didact Gothic';
}

.item-description {
    max-width: 230px;
    margin-top: -15px;
    text-align: left;
    font-family: 'Didact Gothic';
    font-size: 15px;
    float: left;
    opacity: 0;
}

h1 {
    font-family: 'Didact Gothic';
    color: white;
    font-size: 40px;
    font-weight: 400;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -140px;
    z-index: -1;
}

#cardsix {
    overflow: hidden;
    text-wrap: nowrap;
}
#profile-dash-usercred-mobile{
    display: none;
}


/*----------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 980px) {
    #home {
        font-size: 50px;
        margin: 20px 10px;
    }

    #profile-icon{
        font-size: 50px;
        padding: 20px;
        margin: 20px 5px;
    }

    #profile-dash-usercred{
        display: none;
    }

    #profile-dash-usercred-mobile{
        display: inline;
        font-family: "Didact Gothic";
        font-size: 40px;
        font-weight: 700;
        color: #001d3d;
    }

    .profile-buttons-text{
        font-size: 40px;
    }

    #cart {
        font-size: 50px;
        padding: 20px;
        margin: 0px 5px;
    }

    #about{
        font-size: 50px;
        padding: 20px;
        margin: 20px 5px;
    }

    #logout{
        font-size: 50px;
        padding: 20px;
        margin: 0px 5px;
        margin-left: 15px;
    }

    h1 {
        font-size: 55px;
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: -220px;
    }

    .category-list{
        margin-top: 300px;
    }

    .menu-items{
        margin-top: 30px;
        margin-bottom: 250px;
    }

    .card {
        width: 450px;
        height: 550px;
    }

    .card:hover{
        height: 740px;
    }

    .menu {
        width: 400px;
        height: 400px;
    }

    .buy-now {
        font-size: 30px;
        margin: 28px 0px;
    }

    .menu-text {
        font-size: 30px;
    }

    .item-description{
        font-size: 20px;
    }

    #cardsix {
        overflow: hidden;
        text-wrap: nowrap;
    }
}