body {
    background-color: white;
}

h1 {
    font-family: 'Pacifico';
    color: rgb(88, 88, 88);
    margin: 40px;
    text-align: center;
    font-weight: 500;
}

.login-form {
    border-radius: 20px;
    background-color: #001d3d;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    contain: content;
}

.label {
    font-size: 25px;
    margin: 8px;
    font-family: 'Saira Condensed';
    color: white;
}

.input-box {
    font-size: 25px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 10px;
    font-family: 'Saira Condensed';
}

.form-button {
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    background-color: white;
    font-family: 'Saira Condensed';
    font-weight: 500;
}

.form-button:hover {
    cursor: pointer;
}

.tab {
    display: inline-block;
    padding: 10px 10px;
    margin: 20px 10px;
    font-size: 20px;
    background-color: #001d3d;
    border-radius: 5px;
    font-family: 'Saira Condensed';
    cursor: pointer;
    color: white;
}

a {
    color: black;
}

#register {
    background-color: white;
    color: black;
    font-weight: 500;
}

@media only screen and (max-width: 980px) {
    .login-form {
        width: fit-content;
        height: fit-content;
        padding: 30px;
        contain: content;
    }

    h1 {
        font-size: 65px;
        margin-top: 35%;
    }

    .tab {
        font-size: 50px;
        padding: 20px 20px;
        margin-top: 30%;
        margin: 50px 10px;
    }

    .input-box {
        padding: 20px 25px;
        width: 700px;
        margin: 20px 10px;
        font-size: 50px;
    }

    .label {
        font-size: 50px;
        margin: 0px 8px;
    }

    .form-button {
        font-size: 50px;
        margin: 40px;
    }
}