body{
    background-color: #1c1c1c;
    color: white;
}

.navbar {
    contain: content;
    background-color: #001d3d;
    padding: 10px;
    margin: 0px -8px;
    margin-top: -8px;
}

#profile-icon{
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: white;
    margin: 10px;
    padding: 10px;
}

.display-none{
    display: none;
}

.profile-dash{
    height: fit-content;
    box-shadow: 0 0 0 1px rgb(161, 161, 161);
    margin-top: -15px; 
    float: right;
    margin-right: 99.5px;
    contain: content;
    background-color: white;
    border-radius: 5px;
}

#profile-dash-usercred{
    font-family: "Didact Gothic";
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-left: 10px;
    display: inline;
}

#profile-dash-usercred-mobile{
    display: none;
}

.profile-buttons-text{
    font-size: 25px;
    font-family: 'Didact Gothic';
    cursor: pointer;
    margin-left: 20px;
}


#logout-button-text{
    margin-left: 28px;
    display: inline;
}

#logout {
    cursor: pointer;
    font-size: 25px;
    background-color: white;
    color: #001d3d;
    margin: 10px;
}

#about {
    float: right;
    cursor: pointer;
    font-size: 30px;
    background-color: #001d3d;
    color: white;
    margin: 10px;
    padding: 10px;
}

#home {
    cursor: pointer;
    font-size: 35px;
    float: left;
    border: none;
    background-color: #001d3d;
    font-family: 'Pacifico';
    color: white;
    margin: 5px 5px;
}

h1 {
    font-family: 'Didact Gothic';
    font-size: 40px;
    font-weight: 500;
    width: fit-content;
}

h2 {
    font-family: 'Didact Gothic';
    font-size: 30px;
    text-align: center;
    padding: 30px;
    margin-bottom: -5px;
    font-weight: 400;
}

.details {
    width: 420px;
    height: 720px;
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.label {
    font-size: 20px;
    font-family: 'Didact Gothic';
    color: white;
}

input {
    padding: 10px 0px;
    border-radius: 5px;
    border: none;
    width: 300px;
    margin: 10px 0px;
    font-size: 20px;
    font-family: 'Didact Gothic';
    background-color: rgb(198, 198, 198);
}

.order-summary {
    border-radius: 10px;
    padding: 40px;
}

.order-list {
    margin-top: -25px;
}

.orders {
    background-color: rgb(70, 70, 70);
    width: fit-content;
    border-radius: 20px;
}

h3,
span {
    display: inline;
    margin: 10px 60px;
    font-family: 'Didact Gothic';
    font-weight: 400;
    font-size: 20px;
}

#nameheader{
    align-items: center;
    justify-content: left;
}

#priceheader{
    align-items: center;
    justify-content: center;
    margin-left: 84px;
}
#quantityheader{
    align-items: center;
    justify-content: right;
}

td {
    padding: 5px 20px;
    font-family: 'Didact Gothic';
    font-size: 20px;
}

#confirm-button {
    font-size: 20px;
    font-family: 'Didact Gothic';
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(198, 198, 198);
}

.total {
    font-family: 'Didact Gothic';
    font-weight: 400;
    font-size: 20px;
    padding: 30px;
    margin-top: -10px;
}

.item{
    display: flex;
    margin: 20px;
}

#item-name {
    align-items: center;
    justify-content: left;
    margin-left: 50px;
}

#item-price {
    margin-top: -47px;
    align-items: center;
    justify-content: center;
}

#item-cart {
    align-items: center;
    justify-content: right;
    margin-right: 135px;
    margin-top: -47px;
}

.close-btn {
    align-items: center;
    justify-content: right;
    display: flex;
    margin-left: 580px;
    margin-top: -48px;
    cursor: pointer;
    width: fit-content;
}


/*----------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 980px) {
    #home {
        font-size: 50px;
        margin: 20px 10px;
    }


    #logout {
        font-size: 50px;
        padding: 20px;
        margin: 20px 5px;
    }

    #profile-icon{
        font-size: 50px;
        padding: 20px;
        margin: 20px 5px;
    }

    #profile-dash-usercred{
        display: none;
    }

    #profile-dash-usercred-mobile{
        display: inline;
        font-family: "Didact Gothic";
        font-size: 40px;
        font-weight: 700;
        color: #001d3d;
    }

    .profile-buttons-text{
        font-size: 40px;
    }

    #about {
        font-size: 50px;
        padding: 20px;
        margin: 20px 5px;
    }

    h1 {
        font-size: 55px;
    }

    .orders {
        width: 800px;
    }

    h3,
    span {
        font-size: 30px;
        margin: 10px 50px;
    }

    #item-price {
        margin-top: -58px;
    }

    #item-cart {
        margin-right: 205px;
        margin-top: -59px;
    }

    .close-btn {
        margin-left: 700px;
        margin-top: -59px;
        cursor: pointer;
    }

    .total {
        font-size: 30px;
    }

    .details {
        height: fit-content;
        width: fit-content;
        padding: 30px;
    }

    h2 {
        font-size: 45px;
        margin-top: -20px;
    }

    .label {
        font-size: 30px;
    }

    input {
        font-size: 30px;
        width: 600px;
    }

    #confirm-button {
        font-size: 30px;
    }
}