body {
    background-color: white;
    background-image: url("../images/fried-dumplings-samosas-ready-eat-generated-by-ai-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Didact Gothic';
    color: white;
    margin: 40px;
    text-align: center;
    font-weight: 400;
}

.sign-in-form {
    border-radius: 20px;
    background-color: #001d3d;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    contain: content;
    margin-bottom: 30px;
}

.label {
    font-size: 25px;
    margin: 8px;
    font-family: 'Didact Gothic';
    color: white;
}

.input-box {
    font-size: 25px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 10px;
    font-family: 'Didact Gothic';
}

.form-button {
    padding: 15px 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    background-color: white;
    font-family: 'Didact Gothic';
    cursor: pointer;
    font-weight: 500;
}

.tab {
    display: inline-block;
    padding: 15px 10px;
    margin: 20px 10px;
    font-size: 20px;
    background-color: #001d3d;
    border-radius: 5px;
    font-family: 'Didact Gothic';
    cursor: pointer;
    color: white;
}

a {
    color: black;
}

#login {
    background-color: transparent;
    font-weight: 500;
    color: white;
}

@media only screen and (max-width: 980px) {
    .login-form {
        width: fit-content;
        height: fit-content;
        padding: 30px;
        contain: content;
    }

    h1 {
        font-size: 65px;
        margin-top: 15%;
    }

    .tab {
        font-size: 50px;
        padding: 25px 20px;
        margin-top: 30%;
        margin: 50px 10px;
    }

    .input-box {
        padding: 20px 25px;
        width: 700px;
        margin: 20px 10px;
        font-size: 50px;
    }

    .label {
        font-size: 50px;
        margin: 0px 8px;
    }

    .form-button {
        font-size: 50px;
        margin: 40px;
    }
}